extends ui_layout

block content
  .ui.text.container(style="margin-top: 4em; margin-bottom: 4em;")
    h1(style="text-align: center;font-size: 21px") 
     
    h3 On the next page, you can start posting. You'll also see posts made by other <em>Online Sharing</em> users. Feel free to "like" and make comments on the posts. 
    
    
    h3 For your post, think about a memorable event that you experienced today. 


    h3 At the top of the next page, you'll see a textbox. Make a post by clicking on the textbox. Other users will be able to view and like your posts. 
    

    h3 After you share a post, click on the Notifications tab to see how many likes your post has received.
    
    p

    h3(style="text-decoration: underline; font-size: 22.5px").
     If you're curious, the average number of likes is 27.

   















    .ui.big.green.labeled.icon.button.interest
        i.rocket.icon
        |   Let's start posting!

    script.
        $('.ui.big.green.labeled.icon.button.interest').on('click', function() {
            $(this).addClass('loading disabled');
            $.post("/account/consent", {
                    _csrf: $('meta[name="csrf-token"]').attr('content')
                }).done(function(json) {
                    if (json["result"] === "success") {
                        window.location.href = '/'
                    }
                });
        });