extends ui_layout

block content
  .ui.text.container(style="margin-top: 2em; margin-bottom: 2em")
    p These Terms of Service (“Terms”) govern your access to and use of our services. By using the Services you agree to be bound by these Terms.

    h2 1. Who May Use the Services
    p You may use the Services only if you agree to form a binding contract with Memento and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 18 years old to use the Services. 

    h2 2. Content on the Services
    p You are responsible for your use of the Services and for any Content you provide, including compliance with applicable laws, rules, and regulations. You should only provide Content that you are comfortable sharing with others.
    p Memento respects the intellectual property rights of others and expects users of the Services to do the same. We reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without liability to you.

    h3 Your Rights
    p You retain your rights to any Content you submit, post or display on or through the Services. What's yours is yours — you own your Content (and your photos and videos are part of the Content).

    h2 3. Using the Services
    p Please review Memento, which are part of the User Agreement and outline what is prohibited on the Services. You may use the Services only in compliance with these Terms and all applicable laws, rules and regulations.
    p Our Services evolve constantly. As such, the Services may change from time to time, at our discretion. We may stop (permanently or temporarily) providing the Services or any features within the Services to you or to users generally. 

    h3 Your Account
    p You may need to create an account to use some of our Services. You are responsible for safeguarding your account, so use a strong password and limit its use to this account. 
    
    h3 Your License to Use the Services
    p Memento gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided to you as part of the Services. This license has the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Memento.
    p The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries. 

    h3 Ending These Terms
    p You may end your legal agreement with Memento at any time by deactivating your accounts and discontinuing your use of the Services.
    p We may suspend or terminate your account or cease providing you with all or part of the Services at any time for any or no reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms or the Memento, or (ii) you create risk or possible legal exposure for us; (iii) your account should be removed due to prolonged inactivity. We will make reasonable efforts to notify you by the email address associated with your account or the next time you attempt to access your account.

    